body{
    background-color: black;
    color: white;
    font-weight: bold;
}

/*
main{
   background-color: blanchedalmond;
}
*/

header > p{
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 400px;
    height: 400px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}


div{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 20px 20px 20px;
}

#treino_peito, #treino_costa{
    display: inline-block;
}

#treino_perna, #treino_braco{
    display: inline-block;
} 


#treino_ombro, #treino_abdomen{
    display: inline-block;
}