@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');


/*
Colors:
.color1 { #d9d9db };
.color2 { #b7ae8f };
.color3 { #978f84 };
.color4 { #4a362f };
.color5 { #121210 };
*/


body{
    background-color: #121210;
    color: white;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}


header > h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

header > p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
}


main > h1{
    font-family: 'Poopins', sans-serif;
    text-align: center;
}
main > div > div > p{
    font-family: 'Poopins', sans-serif;
    font-size: 20px;
}


img{
    width: 400px;
    height: 400px;
}


header {
    text-align: center;
    margin: 50px 200px 0px 200px;
    padding: 10px 10px 10px 10px;
    background-color: #d9d9db;
    color: black;
}


footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


div{
    padding: 30px 125px 30px 140px;
    text-align: center;
}


.links {
    background-color: #b7ae8f;
    width: 140px;
    padding: 15px 0px;
    color: #121210;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
}

.fichas {
    background-color: #978f84;
    padding: 20px 50px;
    color: #121210;
    text-align: center;
    border-radius: 32px;
    font-family: 'Poopins', sans-serif;
    text-decoration: none;
}



#holder1, #holder2{
    display: inline-block;
}

#holder3, #holder4{
    display: inline-block;
} 


#holder5, #holder6{
    display: inline-block;
}
