@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body{
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}


header > h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

header > p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
}


main > h1{
    font-family: 'Poopins', sans-serif;
    text-align: center;
}
main > div > p{
    font-family: 'Poopins', sans-serif;
}


img{
    width: 400px;
    height: 400px;
}


header {
    text-align: center;
    margin: 50px 250px 0px 250px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color: black;
}


footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}


div{
    padding: 75px 250px 75px 275px;
}


button {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 30px;
    
}


#treino_peito, #treino_costa{
    display: inline-block;
}

#treino_perna, #treino_braco{
    display: inline-block;
} 


#treino_ombro, #treino_abdomen{
    display: inline-block;
}
