@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');


body{
    background-color: #121210;
    color: #d9d9db;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}

header > h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

header > p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
}

main {
    padding: 10px 0px 50px 0px
}

main > h1{
    font-family: 'Poopins', sans-serif;
    text-align: center;
}
main > div > div > p{
    font-family: 'Poopins', sans-serif;
    font-size: 20px;
}

.texto {
    text-align: center;
    margin: 25px 400px 50px 400px;
    font-family: 'Poopins', sans-serif;
    font-size: 30px; 
}


img{
    width: 400px;
    height: 400px;
}


header {
    text-align: center;
    padding: 5px 10px 10px 10px;
    background-color: #d9d9db;
    color: black;
}


footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #d9d9db;
    color: black;
    width: 100%;
    height: 210px;
}

footer > h2{
    padding: 20px 0px 0px 0px;
}

div{
    padding: 30px 125px 30px 140px;
    text-align: center;
}


.links {
    background-color: #121210;
    width: 140px;
    padding: 15px 0px;
    margin: 10px 0px 20px 0px;
    color: #d9d9db;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

.fichas {
    background-color: #121210;
    padding: 20px 50px;
    color: #d9d9db;
    text-align: center;
    border-radius: 32px;
    font-family: 'Poopins', sans-serif;
    text-decoration: none;
    border: 2px solid #d9d9db;
    transition: all 0.5s;
}



#holder1, #holder2{
    display: inline-block;
}

#holder3, #holder4{
    display: inline-block;
} 


#holder5, #holder6{
    display: inline-block;
}

.fichas:hover{
    opacity: 0.5;
}
.links:hover{
    opacity: 0.7;
}